{% extends "layout.jinja2" %}

{% block content %}
<div class="bd_info">
<tr>
    <td>
        id
    </td>
    <td>
        question
    </td>
    <td>
        answer
    </td>
</tr>
{% for qas in QA %}
<tr>
    <td>
        {{ qas.id }}
    </td>
    <td>
        {{ qas.question }}
    </td>
    <td>
        {{ qas.answer }}
    </td>
</tr>
{% endfor %}

</div>
{% endblock content %}
